.address__text {
  margin: 0;
  font-family: var(--main-font);
  font-size: 14px;
  font-style: normal;
  color: #444444;
}

.address__text--street {
  @media (--not-narrow-vp) {
    margin-bottom: 28px;
  }
}
