.button {
  display: block;
  padding: 7px 44px;
  font-family: var(--accent-font);
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  width: fit-content;
  background-color: #68b738;
  border: none;
  box-sizing: border-box;

  &--size_wide {
    width: 100%;
  }
}
