.catalog__list {
  margin: 0;
  padding: 0;
}

.catalog__item {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card-product__link {
  text-decoration: none;
  color: #000000;
}

.card-product__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
}

.card-product__list {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.card-product__value {
  margin: 0;
}

.order-button {
  &--show-more-button {
    color: #444444;
    background-color: #f2f2f2;
  }
}

.extra-product__title {
  margin: 25px 0 36px;
  font-size: 24px;
  line-height: 24px;
}

.product-more__list {
  margin: 0;
  padding: 0;
}

.product-more__item {
  padding: 0;
  list-style-type: none;
}

.product-more__title {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.product-more-wrapper__description {
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.gift {
  background-image: url("../../img/cat-background-catalog.jpg");
  background-repeat: no-repeat;
}

.gift__img {
  padding: 59px 0 48px;
  width: 78px;
  height: 80px;
}

.gift__description {
  margin: 0 0 35px;
  padding: 0 0 43px;
}
