.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (--not-narrow-vp) {
    display: grid;
    grid-template-columns: repeat(2, 324px);
    column-gap: 60px;
    row-gap: 141px;
  }

  @media (--wide-vp) {
    grid-template-columns: repeat(4, 246px);
    column-gap: 80px;
    row-gap: 144px;
  }
}

.catalog__item {
  margin: 0;
  padding: 19px 0 25px;
  border-top: 1px solid #ebebeb;

  &:last-child {
    border-bottom: 1px solid #ebebeb;
  }

  @media (--not-narrow-vp) {
    padding: 0;
    border: none;

    &:last-child {
      border: none;
    }
  }
}
