.catalog-page__title {
  padding: 27px 0 58px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #ebebeb;


  @media (--not-narrow-vp) {
    font-size: 60px;
    line-height: 60px;
    padding: 53px 0 162px;
    border: none;
  }

  @media (--wide-vp) {
    padding: 72px 0 165px;
  }
}
