.comments__form-group-title {
  --air-gap: 23px;
  --line-color: #68b738;
  position: relative;
  padding: 0;
  margin: 0 0 38px 0;
  width: fit-content;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;

  &::before {
    content: "";
    position: absolute;
    top: 14px;
    background-color: var(--line-color);
    height: 2px;
    width: calc(100vw - 100% - var(--air-gap));
    right: calc(100% + var(--air-gap));
    box-shadow: calc(100vw + var(--air-gap)) 0 0 0 var(--line-color);
  }

  @media (--not-narrow-vp) {
    --air-gap: 39px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 22px;
    }
  }
}

.comments__texarea {
  margin-bottom: 23px;
  padding: 9px 12px 9px 15px;
  width: 100%;
  min-height: 150px;
  font-size: 16px;
  line-height: 18px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  resize: none;

  &::placeholder {
    font-family: var(--accent-font);
    text-transform: uppercase;
    color: #444444;
  }

  @media (--not-narrow-vp) {
    margin-bottom: 65px;
    padding: 9px 19px;
    min-height: 174px;
    font-size: 20px;
    line-height: 30px;
  }
}
