.contacts__form-group {
  margin: 0;
  padding: 0;
  border: none;
}

.contacts__form-group-title {
  --air-gap: 41px;
  padding: 26px 0 0;
  margin-bottom: 35px;
  width: 160px;
  font-size: 24px;
  line-height: 26px;

  &::before {
    top: 42px;
  }

  @media (--not-narrow-vp) {
    margin-bottom: 73px;
    padding: 75px 0 0;
    width: fit-content;
    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 22px;
    }
  }

  @media (--wide-vp) {
    padding: 0;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (--wide-vp) {
    display: flex;
    margin-bottom: 67px;
  }
}

.contacts__item {
  margin-bottom: 12px;
  display: flex;
  align-items: baseline;

  &:last-child {
    margin-bottom: 25px;
  }

  @media (--not-narrow-vp) {
    margin-bottom: 17px;

    &:last-child {
      margin-bottom: 66px;
    }
  }

  @media (--wide-vp) {
    width: 50%;
    margin: 0 75px 0 0;

    &:last-child {
      margin: 0;
    }
  }
}

.contacts__label {
  margin-right: 11px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  @media (--not-narrow-vp) {
    margin-right: 17px;
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts__input {
  flex-grow: 1;
  padding: 13px 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #cdcdcd;

  &:focus-visible {
    outline: 2px solid #444444;
    outline-offset: -2px;
  }

  &:invalid {
    outline: 2px solid #ff8282;
    outline-offset: -2px;
  }

  @media (--not-narrow-vp) {
    padding: 13px 0 9px 20px;
    font-size: 20px;
    line-height: 30px;
  }

  @media (--wide-vp) {
    padding: 12px 0 11px 22px;
  }
}

.contacts__input-icon {
  position: relative;

  &::after {
    position: absolute;
    top: -17px;
    right: 14px;
    width: 20px;
    height: 20px;
    background-color: #222222;
    cursor: text;
    content: " ";
  }

  &--email::after {
    mask: url("../../icons/sprite.svg#email");
  }

  &--phone::after {
    mask: url("../../icons/sprite.svg#phone");
  }

  @media (--not-narrow-vp) {
    &::after {
      top: -21px;
      right: 16px;
    }
  }

  @media (--wide-vp) {
    top: 2px;
    right: 7px;
  }
}

.contacts__input:focus-visible + .contacts__input-icon::after {
  background-color: #68b738;
}

.contacts__input:invalid + .contacts__input-icon::after {
  background-color: #ff8282;
}
