.contacts__form-group {
  margin: 0;
  padding: 0;
  border: none;
}

.contacts__form-group-title {
  --air-gap: 41px;
  --line-color: #68b738;
  position: relative;
  padding: 26px 0 0;
  margin-bottom: 35px;
  width: 160px;
  font-size: 24px;
  line-height: 26px;

  &::before {
    content: "";
    position: absolute;
    top: 42px;
    background-color: var(--line-color);
    height: 2px;
    width: calc(100vw - 100% - var(--air-gap));
    right: calc(100% + var(--air-gap));
    box-shadow: calc(100vw + var(--air-gap)) 0 0 0 var(--line-color);
  }

  @media (--not-narrow-vp) {
    margin-bottom: 76px;
    padding: 75px 0 0;
    width: fit-content;
    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 96px;
    }
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (--wide-vp) {
    display: flex;
  }
}

.contacts__item {
  margin-bottom: 14px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 23px;
  }

  @media (--not-narrow-vp) {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 65px;
    }
  }

  @media (--wide-vp) {
    width: 50%;
    margin: 0 80px 0 0;

    &:last-child {
      margin: 0;
    }
  }
}

.contacts__label {
  margin-right: 10px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  @media (--not-narrow-vp) {
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts__input {
  flex-grow: 1;
  padding: 13px 15px;
  font-family: inherit;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #cdcdcd;

  @media (--not-narrow-vp) {
    font-size: 20px;
    line-height: 30px;
  }
}
