.cooperation {
  background-color: #f2f2f2;

  @media (--wide-vp) {
    grid-column: 1/1;
    grid-row: 1/1;
    z-index: 1;
    background-color: transparent;
  }
}

.cooperation__wrapper {
  padding: 26px 0;
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  box-sizing: border-box;

  @media (--not-narrow-vp) {
    padding: 60px 40px 61px;
  }

  @media (--wide-vp) {
    margin: 95px 0;
    padding: 58px 80px 61px;
    width: 565px;
    background-color: #ffffff;
  }
}

.cooperation__title {
  margin: 0;
  width: 125px;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;

  @media (--not-narrow-vp) {
    width: 154px;
    font-size: 20px;
    line-height: 26px;
  }
}
