.curtain {
  position: relative;

  @media (--not-narrow-vp) {
    background-color: #eaeaea;
    box-shadow: 30px 0 #eaeaea, -30px 0 #eaeaea;
  }

  @media (--wide-vp) {
    background-color: transparent;
    box-shadow: none;
  }
}

.curtain__cat {
  display: block;
  margin: 0 auto -108px;

  @media (--not-narrow-vp) {
    position: relative;
    top: -185px;
    left: 61px;
    width: 595px;
    height: 511px;
    margin-bottom: -333px;
  }
}

.curtain__cat--after {
  position: relative;
  top: -124px;
  z-index: -1;

  @media (--not-narrow-vp) {
    z-index: 0;
    position: relative;
    top: -349px;
  }

  @media (--wide-vp) {
    top: -360px;
    left: 76px;
  }
}

.curtain__range {
  margin: 0 auto;
}
