.curtain {
  position: relative;

  @media (--not-narrow-vp) {
    background-color: #eaeaea;
    box-shadow: 30px 0 #eaeaea, -30px 0 #eaeaea;
  }
}

.curtain__cat {
  display: block;
  margin: 0 auto;
  margin-bottom: -108px;

  @media (--not-narrow-vp) {
    position: relative;
    top: -170px;
    width: 595px;
    height: 511px;
    margin-bottom: -333px;
  }
}

.curtain__cat--after {

  position: relative;
  top: -124px;

  @media (--not-narrow-vp) {
    position: relative;
    top: -349px;
  }
}

.curtain__range {
  padding: 15px 0 40px;
}
