.example {
  background-color: #eaeaea;
}

.example__title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.example__description {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}
