.extras__form-group {
  margin: 0;
  padding: 0;
  border: none;
}

.extras__form-group-title {
  margin-bottom: 34px;
  padding: 0;
  font-size: 24px;
  line-height: 26px;

  &::before {
    top: 15px;
  }

  @media (--not-narrow-vp) {
    --air-gap: 41px;
    margin-bottom: 57px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 22px;
    }
  }
}

.extras__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (--not-narrow-vp) {
    margin-bottom: 54px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(221px, 1fr));
    grid-template-rows: 40px;
    column-gap: 57px;
    row-gap: 32px;
    align-items: center;
  }

  @media (--wide-vp) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 61px;
  }
}

.extras__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 34px;
  }

  @media (--not-narrow-vp) {
    margin: 0;

    &:last-child {
      margin: 0;
    }
  }

  @media (--wide-vp) {
    margin: 0 46px 0 0;
    width: 221px;

    &:last-child {
      margin: 0;
    }
  }
}

.extras__control {
  display: flex;
}

.extras__control-input {
  position: relative;
  margin: 0 16px 0 0;
  width: 30px;
  height: 30px;
  appearance: none;

  &::before {
    position: absolute;
    mask: url("../../icons/sprite.svg#checkbox-border") no-repeat center;
    width: 30px;
    height: 30px;
    background-color: #cdcdcd;
    content: "";
  }

  &:focus-visible {
    outline: 2px solid #444444;
    outline-offset: -2px;

    &::before {
      background-color: #444444;
    }
  }

  &:hover {
    &::before {
      background-color: #bababa;
    }
  }

  &:checked {
    &::after {
      position: absolute;
      mask: url("../../icons/sprite.svg#checkbox-button") no-repeat center;
      width: 19px;
      height: 19px;
      top: 6px;
      right: 5px;
      background-color: #68b738;
      content: "";
    }
  }

  &:disabled {
    cursor: not-allowed;

    &::before {
      background-color: #bababa;
      opacity: 0.3;
    }

    &::after {
      opacity: 0.3;
    }
  }

  @media (--not-narrow-vp) {
    margin: 0 19px 0 0;
    width: 40px;
    height: 40px;

    &::before {
      width: 40px;
      height: 40px;
    }

    &:checked {
      &::after {
        width: 25px;
        height: 25px;
        top: 8px;
        right: 7px;
      }
    }
  }
}

.extras__control-label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  align-self: center;


  @media (--not-narrow-vp) {
    font-size: 20px;
    line-height: 30px;
  }
}

.extras__control-input:disabled + .extras__control-label {
  opacity: 0.3;
}
