.footer {
  background-color: #f2f2f2;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (--not-narrow-vp) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__cat-energy-logo {
  text-align: center;
  margin: 39px 0 32px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}


.footer__htmlacademy {
  position: relative;
}
