.footer__cooperation {
  @media (min-width: 1220px) {
    width: 405px;
    position: absolute;
    top: 95px;
    left: 110px;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;

  @media (min-width: 768px) {
    padding: 58px 30px 55px;
    flex-direction: row;
  }
}

.footer__cat-energy-logo {
  margin: 39px 0 32px;
}

.footer__social-networks {
  padding: 20px 0 21px;
}

.footer__htmlacademy {
  margin: 22px 0;
  width: 280px;
  display: flex;
  justify-content: space-between;
}


.form-page + .footer__cooperation {
  background-color: #000000;
}
