.footer {
  background-color: #f2f2f2;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (--not-narrow-vp) {
    min-height: 147px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.footer__cat-energy-logo {
  width: fit-content;
  align-self: center;
  margin: 40px 0 25px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (--wide-vp) {
    margin: 4px 0 0;
  }
}


.footer__htmlacademy {
  position: relative;
}
