.form-page {
  @media (--not-narrow-vp) {
    padding: 0 37px 0 41px;
  }
}

.form-page__title {
  margin: 27px 0 37px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  @media (--not-narrow-vp) {
    margin: 52px 0 54px;
    font-size: 60px;
    line-height: 60px;
  }

  @media (--wide-vp) {
    margin: 71px 0 56px;
  }
}

.form-page__description {
  width: 226px;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 41px;
  text-transform: uppercase;

  @media (--not-narrow-vp) {
    margin: 0 0 65px;
    width: 324px;
    font-size: 20px;
    line-height: 30px;
  }
}
