.gift {
  background-image: url("../../img/cat-background-catalog.jpg");
  background-repeat: no-repeat;
}

.gift__img {
  padding: 59px 0 48px;
  width: 78px;
  height: 80px;
}

.gift__description {
  margin: 0 0 35px;
  padding: 0 0 43px;
}
