.header {
  display: flex;
  flex-direction: column;

  @media (--not-narrow-vp) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__logo {
  margin: 12px 0 9px;
  display: grid;
  grid-template-columns: 1fr 0fr 1fr;
  align-items: center;

  @media (--not-narrow-vp) {
    display: flex;
    flex-wrap: wrap;
    width: 279px;
    margin: 24px 0 0;
  }

  @media (--wide-vp) {
    margin: 53px 0 0;
  }
}

.header__logo-img {
  width: 34px;
  height: 38px;
  margin-right: 50px;

  @media (--not-narrow-vp) {
    width: 61px;
    height: 50px;
    margin-right: 13px;
  }

  @media (--wide-vp) {
    width: 80px;
    height: 60px;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-svg {
  width: 102px;
  height: 19px;
  justify-self: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (--not-narrow-vp) {
    --fill: #444444;
  }

  @media (--wide-vp) {
    width: 118px;
    height: 22px;
  }
}
