.header {
  display: flex;
  flex-direction: column;

  @media (--not-narrow-vp) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__logo {
  margin: 12px 0 9px;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;

  @media (--not-narrow-vp) {
    display: flex;
    margin: 24px 0 0;
  }

  @media (--wide-vp) {
    margin: 53px 0 0;
  }
}

.header__cat-logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (--not-narrow-vp) {
    display: none;
  }
}

.header__cat-energy-logo {
  justify-self: center;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__cat-energy-logo img {
  @media (--wide-vp) {
    width: 202px;
  }
}
