.header {
  display: flex;
  flex-direction: column;

  @media (--not-narrow-vp) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.header__logo {
  padding: 12px 0 17px;
  display: flex;
  align-items: center;

  @media (--not-narrow-vp) {
    padding: 24px 0 0;
  }
}

.header__cat-logo {
  margin-right: 56px;

  @media (--not-narrow-vp) {
    margin-right: 12px;
  }
}
