.htmlacademy {
  padding: 22px 0;
}

.htmlacademy__link {
  font-family: var(--main-font);
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #444444;

  &::after {
    position: absolute;
    right: -5px;
    top: 18px;
    width: 37px;
    height: 37px;
    background-color: #666666;
    mask: url("../../icons/sprite.svg#htmlacademy") no-repeat center;
    content: "";
  }

  &:hover::after {
    background-color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }

  @media (--not-narrow-vp) {
    padding-right: 50px;
  }
}
