.information {
  @media (--wide-vp) {
    width: 54%;
  }
}

.information__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  &::after {
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #d9d9d9;
    content: "";
  }

  @media (--not-narrow-vp) {
    &::after {
      position: initial;
    }
  }

  @media (--wide-vp) {
    margin: 0 80px 0 0;
  }
}

.information__item {
  margin-bottom: 15px;
  display: flex;
  align-items: baseline;

  &:last-child {
    margin-bottom: 24px;
  }

  @media (--not-narrow-vp) {
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 72px;
    }
  }

  @media (--wide-vp) {
    &:last-child {
      margin-bottom: 68px;
    }
  }
}

.information__label {
  margin-right: 15px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;

  @media (--not-narrow-vp) {
    margin-right: 17px;
    font-size: 20px;
    line-height: 30px;
  }
}

.information__input {
  flex-grow: 1;
  padding: 12px 14px;
  font-family: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
  }


  &:focus-visible {
    outline: 2px solid #444444;
  }

  @media (--not-narrow-vp) {
    padding: 11px 0 11px 18px;
    font-size: 20px;
    line-height: 30px;
  }
}
