.form-page__title {
  margin: 27px 0 37px;
  font-size: 36px;
  line-height: 36px;
}

.form-page__description {
  margin: 0 0 39px 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-page__title {
  margin: 21px 0 47px;
  font-size: 36px;
  line-height: 36px;
}
