.page {
  height: 100%;
}

.page__body {
  margin: 0;
  min-height: 100%;
  font-family: var(--accent-font);
  font-weight: 400;
  overflow-x: hidden;
}

.page__body--index .main-navigation__link {
  @media (--wide-vp) {
    color: #ffffff;

    &[aria-current="page"] {
      border-bottom: 2px solid #ffffff;
    }
  }
}

.page__centerer {
  margin: 0 20px;

  @media (--not-narrow-vp) {
    margin: 0 30px;
  }

  @media (--wide-vp) {
    width: 1220px;
    margin: 0 auto;
  }
}

.page__aside {
  display: grid;
}
