.product-more__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (--wide-vp) {
    margin-bottom: 86px;
  }
}

.product-more__item {
  padding: 0;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (--wide-vp) {
    padding: 15px 0 17px;
    width: 894px;
    align-items: center;
    flex-direction: row;
  }
}

.product-more__title {
  margin: 13px 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;

  @media (--not-narrow-vp) {
    margin-bottom: -15px;
  }

  @media (--wide-vp) {
    min-width: 161px;
    margin: 0 163px 0 0;
  }
}

.product-more__wrapper {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  @media (--not-narrow-vp) {
    justify-content: end;
  }

  @media (--wide-vp) {
    margin: 0 38px 0 0;
    justify-content: space-between;
    min-width: 288px;
  }
}

.product-more__description {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  &:first-of-type {
    margin-right: 49px;

    @media (--wide-vp) {
      margin: 0;
    }
  }
}

.product-more__button {
  margin-bottom: 19px;

  @media (--wide-vp) {
    margin: 0;
    width: 244px;
  }
}
