.product-more {
  @media (--wide-vp) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 80px;
  }
}

.product-more__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (--not-narrow-vp) {
    margin-bottom: 68px;
    padding: 0 37px;
    border: 1px solid #cdcdcd;
    border-bottom: none;
  }

  @media (--wide-vp) {
    margin-bottom: 86px;
    padding: 0;
    border-right: none;
    border-left: none;
  }
}

.product-more__item {
  padding: 0;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #cdcdcd;

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }

  @media (--not-narrow-vp) {
    position: relative;
    border: none;

    &:last-child {
      border-bottom: none;
    }

    &::after {
      content: "";
      position: absolute;
      height: 1px;
      right: -37px;
      bottom: 0;
      left: -37px;
      background-color: #cdcdcd;
    }
  }

  @media (--wide-vp) {
    padding: 15px 0 17px;
    width: 894px;
    align-items: center;
    flex-direction: row;

    &::after {
      right: 0;
      left: 0;
    }
  }
}

.product-more__title {
  margin: 13px 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;

  @media (--not-narrow-vp) {
    margin: 25px 0 -16px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (--wide-vp) {
    min-width: 161px;
    margin: 0 163px 0 0;
  }
}

.product-more__wrapper {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  @media (--not-narrow-vp) {
    margin-bottom: 21px;
    justify-content: flex-end;
  }

  @media (--wide-vp) {
    margin: 0 38px 0 0;
    justify-content: space-between;
    min-width: 288px;
  }
}

.product-more__description {
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 14px;
  color: #444444;

  @media (--not-narrow-vp) {
    font-size: 16px;
    line-height: 20px;
  }

  &:first-of-type {
    margin-right: 49px;

    @media (--wide-vp) {
      margin: 0;
    }
  }
}

.product-more__button {
  margin-bottom: 17px;

  @media (--not-narrow-vp) {
    margin-bottom: 29px;
  }

  @media (--wide-vp) {
    margin: 0;
    width: 244px;
  }
}

.product-more__gift {
  position: relative;
  margin-bottom: 76px;
}
