.program {
  @media (--wide-vp) {
    width: 50%;
  }
}

.program__list {
  padding: 22px 0 0;
  margin: 0;
  list-style-type: none;

  &::after {
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    background-color: #d9d9d9;
    content: "";
  }

  @media (--not-narrow-vp) {
    padding: 25px 0 0 28px;
    border: 1px solid #e7e7e7;

    &::after {
      position: initial;
    }
  }
}

.program__item {
  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 19px;

    @media (--not-narrow-vp) {
      margin-bottom: 25px;
    }
  }
}

.program__input {
  margin: 0 16px 0 0;

  @media (--not-narrow-vp) {
    margin: 0 20px 0 0;
  }
}

.program__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;

  @media (--not-narrow-vp) {
    font-size: 20px;
    line-height: 30px;
  }
}
