.range {
  width: 200px;
  padding: 4px 0 45px;
  display: flex;
  justify-content: space-between;


  @media (--not-narrow-vp) {
    padding: 15px 0 60px;
    width: 570px;
  }

  @media (--wide-vp) {
    padding: 5px 0 0;
    width: auto;
    align-items: center;
  }
}

.range__description {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  background-color: transparent;

  @media (--not-narrow-vp) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted #cdcdcd;

    &:hover {
      border-bottom: 1px solid #cdcdcd;
    }

    &:active {
      border-color: transparent;
    }
  }

  @media (--wide-vp) {
    margin-right: 7px;
  }
}

.range__scale {
  position: relative;
  margin-top: 4px;
  width: 85px;
  height: 10px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;

  @media (--not-narrow-vp) {
    margin-top: 12px;
    width: 428px;
    height: 8px;
    border: none;
    background-color: #dcdcdc;
  }

  @media (--wide-vp) {
    margin: 2px 19px 0;
  }
}

.range__thumb {
  position: absolute;
  margin: 2px  7px;
  width: 36px;
  height: 6px;
  border: none;
  border-radius: 6px;
  background-color: #68b738;
  cursor: pointer;

  @media (--not-narrow-vp) {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin: -14px 199px;
    background-color: #ffffff;
    border: 1px solid #cdcdcd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16);

    @media (--wide-vp) {
      margin-left: 195px;
    }

    &::after {
      position: absolute;
      top: 12px;
      left: 12px;
      width: 8px;
      height: 8px;
      background-color: #68b738;
      border-radius: 50%;
      content: "";
    }

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19);
    }

    &:active {
      border: 1px solid #68b738;
    }
  }
}
