.selection {
  @media (--wide-vp) {
    display: flex;
  }
}

.selection__wrapper {
  position: relative;
  margin: 20px 0;
  padding: 30px 33px 18px 20px;
  background-color: #f2f2f2;

  @media (--not-narrow-vp) {
    margin: 0 0 30px;
    padding: 77px 358px 53px 52px;

    &:last-child {
      margin: 0 0 45px;
    }
  }

  @media (--wide-vp) {
    width: 570px;
    margin: 0 80px 0 0;
    padding: 77px 113px 55px 52px;

    &:nth-child(2n) {
      margin: 0;
    }
  }
}

.selection__title {
  margin: 0 0 29px 69px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: 24px;
    left: 22px;
    width: 50px;
    height: 50px;
    content: "";
  }

  &--slim::before {
    background-image: url("../../icons/sprite.svg#cat-slim");
  }

  &--pro::before {
    background-image: url("../../icons/sprite.svg#cat-pro");
  }

  @media (--not-narrow-vp) {
    margin: 0 0 24px;

    &::before {
      top: 92px;
      left: initial;
      right: 64px;
      width: 200px;
      height: 200px;
    }
  }

  @media (--wide-vp) {
    margin: 0 0 73px 162px;

    &::before {
      top: 47px;
      left: 52px;
      width: 100px;
      height: 100px;
    }
  }
}

.selection__description {
  margin-bottom: 15px;
  padding-bottom: 23px;
  min-width: 243px;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;

  @media (--not-narrow-vp) {
    margin: 0 0 48px;
    padding: 0;
    max-width: 405px;
    border: none;
  }

  @media (--wide-vp) {
    margin-bottom: 23px;
    max-width: 405px;
  }
}

.selection__link {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  width: 131px;


  &::before {
    content: "";
    width: 20px;
    height: 2px;
    position: absolute;
    top: 6px;
    right: 10px;
    background-color: #000000;
  }

  &::after {
    content: "";
    position: absolute;
    top: 1px;
    right: 0;
    border: 6px solid transparent;
    border-left: 7px solid #000000;
  }

  &:hover {
    width: 140px;
  }

  &:hover::before {
    width: 30px;
    right: 9px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (--not-narrow-vp) {
    border: none;
  }
}
