.selection {
  @media (--wide-vp) {
    display: flex;
  }
}

.selection__wrapper {
  position: relative;
  margin: 19px 0;
  padding: 32px 33px 20px 20px;
  background-color: #f2f2f2;

  @media (--not-narrow-vp) {
    margin: 0 0 30px;
    padding: 77px 358px 53px 52px;

    &:last-child {
      margin: 0 0 45px;
    }
  }

  @media (--wide-vp) {
    width: 570px;
    margin: 0 80px 0 0;
    padding: 77px 56px 55px 52px;

    &:nth-child(2n) {
      margin: 0;
    }
  }
}

.selection__title {
  margin: 0 0 29px 69px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;

  &::before {
    position: absolute;
    top: 14px;
    left: 11px;
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }

  &--slim::before {
    background-image: url("../../icons/sprite.svg#cat-slim");
  }

  &--pro::before {
    background-image: url("../../icons/sprite.svg#cat-pro");
  }

  @media (--not-narrow-vp) {
    margin: 0 0 26px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 53px;
      left: auto;
      right: 22px;
      width: 280px;
      height: 280px;
    }
  }

  @media (--wide-vp) {
    margin: 0 0 73px 162px;

    &::before {
      top: 27px;
      left: 32px;
      width: 140px;
      height: 140px;
    }
  }
}

.selection__description {
  margin-bottom: 20px;
  padding-bottom: 20px;
  min-width: 243px;
  font-family: var(--main-font);
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;

  @media (--not-narrow-vp) {
    margin: 0 0 51px;
    width: 340px;
    padding: 0;
    border: none;
    font-size: 16px;
    line-height: 24px;
  }


  @media (--wide-vp) {
    margin: 0 0 27px 0;
    width: 462px;
  }
}


.selection__link {
  position: relative;
  display: block;
  margin-bottom: 3px;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  color: #000000;
  width: 131px;

  &::after {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 1px;
    right: -26px;
    background-image: url("../../icons/sprite.svg#arrow");
    background-repeat: no-repeat;
    background-position: center;
    content: "";
  }

  &:hover::after {
    width: 36px;
    height: 36px;
    top: -4px;
    right: -36px;
    background-image: url("../../icons/sprite.svg#skale-arrow");
  }

  &:active {
    opacity: 0.3;
  }

  @media (--not-narrow-vp) {
    font-size: 20px;
    line-height: 30px;
    border: none;
  }
}
