.send {
  @media (--not-narrow-vp) {
    display: flex;
    width: 523px;
  }

  @media (--not-narrow-vp) {
    width: 100%;
  }
}

.send__button {
  width: 100%;
  margin-bottom: 21px;

  @media (--not-narrow-vp) {
    width: 282px;
    margin: 0 61px 0 0;
  }

  @media (--wide-vp) {
    width: 570px;
    margin: 0 81px 0 0;
  }
}

.send__description {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (--not-narrow-vp) {
    font-size: 16px;
  }
}
