.social-networks {
  padding: 22px 0;
  text-align: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (--not-narrow-vp) {
    border: none;
  }
}

.social-networks__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social-networks__item {
  margin-right: 28px;

  &:last-child {
    margin: 0;
  }
}

.social-networks__link {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 32px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background-color: #666666;
  }

  &--vk::before {
    mask: url("../../icons/sprite.svg#vk") no-repeat center;
  }

  &--instagram::before {
    mask: url("../../icons/sprite.svg#instagram") no-repeat center;
  }

  &--facebook::before {
    mask: url("../../icons/sprite.svg#facebook") no-repeat center;
  }

  &:hover::before {
    background-color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}
