<aside class="page__aside aside">
  <section class="aside__cooperation cooperation">
    <div class="page__centerer">
      <div class="cooperation__wrapper">
        <h3 class="cooperation__title">Приглашаем <br> к сотрудничеству дилеров!</h3>
        <address class="cooperation__address address">
          <p class="address__text address__text--street">ул. Большая <br> Конюшенная, д. 19/8</p>
          <p class="address__text address__text--city">Санкт-Петербург</p>
        </address>
      </div>
    </div>
  </section>
  <div class="aside__map map">
    <noscript class="map__jsnone">
      <picture>
        <source type="image/avif" media="(min-width: 1280px)" srcset="
          img/map-nojs--desktop@1x.avif 1x,
          img/map-nojs--desktop@2x.avif 2x">
        <source type="image/avif" media="(min-width: 768px)" srcset="
          img/map-nojs--tablet@1x.avif 1x,
          img/map-nojs--tablet@2x.avif 2x">
        <source type="image/avif" srcset="
          img/map-nojs--mobile@1x.avif 1x,
          img/map-nojs--mobile@2x.avif 2x">

        <source type="image/webp" media="(min-width: 1280px)" srcset="
          img/map-nojs--desktop@1x.webp 1x,
          img/map-nojs--desktop@2x.webp 2x">
        <source type="image/webp" media="(min-width: 768px)" srcset="
          img/map-nojs--tablet@1x.webp 1x,
          img/map-nojs--tablet@2x.webp 2x">
        <source type="image/webp" srcset="
          img/map-nojs--mobile@1x.webp 1x,
          img/map-nojs--mobile@2x.webp 2x">

        <source media="(min-width: 1280px)" srcset="
          img/map-nojs--desktop@1x.jpg 1x,
          img/map-nojs--desktop@2x.jpg 2x">
        <source media="(min-width: 768px)" srcset="
          img/map-nojs--tablet@1x.jpg 1x,
          img/map-nojs--tablet@2x.jpg 2x">
        <img class="map__jsnone-img" src="img/map-nojs--mobile@1x.jpg" srcset="img/map-nojs--mobile@1x.jpg@2x.jpg 2x"
          alt="Карта">
      </picture>
    </noscript>
    <iframe class="map__iframe"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6037872533277!2d30.320858716287674!3d59.93871648187614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1638009632996!5m2!1sru!2sru"
      loading="lazy">
    </iframe>
  </div>
</aside>
