<footer class="page__footer footer">
  <div class="page__centerer">
    <div class="footer__wrapper">
      <a class="footer__cat-energy-logo" href="index.html" {% if permalink=="index.html" %}aria-current="page" {% endif
        %}>
        <img src="img/identic.svg#cat-energy" alt="Логотип надписи Cat Energy" width="128" height="24">
      </a>
      <div class="footer__social-networks social-networks">
        <ul class="social-networks__list">
          <li class="social-networks__item">
            <a class="social-networks__link social-networks__link--vk" href="https://vk.com/htmlacademy"><span
                class="visually-hidden">Мы во ВКонтакте</span></a>
          </li>
          <li class="social-networks__item">
            <a class="social-networks__link social-networks__link--instagram"
              href="https://instagram.com/htmlacademy/?hl=ru"><span class="visually-hidden">Мы в Инстаграме</span></a>
          </li>
          <li class="social-networks__item">
            <a class="social-networks__link social-networks__link--facebook"
              href="https://facebook.com/htmlacademy/"><span class="visually-hidden">Мы в Фейсбуке</span></a>
          </li>
        </ul>
      </div>
      <div class="footer__htmlacademy htmlacademy">
        <a class="htmlacademy__link" href="https://htmlacademy.ru/intensive/adaptive">HTML Academy</a>
      </div>
    </div>
  </div>
</footer>
