<footer class="footer">
  <section class="footer__cooperation cooperation">
    <h3 class="cooperation__title">Приглашаем к сотрудничеству дилеров!</h3>
    <address class="cooperation__address">
      <p class="address address--street">ул. Большая Конюшенная, д. 19/8</p>
      <p class="address address--city">Санкт-Петербург</p>
    </address>
  </section>
  <div class="footer__map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1998.6037872533277!2d30.320858716287674!3d59.93871648187614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696310fca145cc1%3A0x42b32648d8238007!2z0JHQvtC70YzRiNCw0Y8g0JrQvtC90Y7RiNC10L3QvdCw0Y8g0YPQuy4sIDE5LzgsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTExODY!5e0!3m2!1sru!2sru!4v1638009632996!5m2!1sru!2sru"
      width="600" height="450" loading="lazy">
    </iframe>
  </div>
  <a class="cat-energy-logo-link" href="index.html" {% if permalink === "index.html" %}aria-current="page"{% endif %}>
    <img class="cat-energy-logo" src="img/cat-energy-logo.svg" alt="Логотип надписи Cat Energy" width="128" height="24">
  </a>
  <div class="footer__social-networks social-networks">
    <ul class="social-networks__list">
      <li class="social-networks__item">
        <a class="social-networks__link social-networks__link--vk" href="https://vk.com/htmlacademy">Мы во ВКонтакте</a>
      </li>
      <li class="social-networks__item">
        <a class="social-networks__link social-networks__link--instagram" href="https://instagram.com/htmlacademy/?hl=ru">Мы в Инстаграме</a>
      </li>
      <li class="social-networks__item">
        <a class="social-networks__link social-networks__link--facebook" href="https://facebook.com/htmlacademy/">Мы в Фейсбуке</a>
      </li>
    </ul>
  </div>
  <a class="footer__htmlacademy-logo" href="https://htmlacademy.ru">HTML Academy</a>
</footer>
