<header class="page__header header page__centerer">
  <div class="header__logo">
    <a class="header__cat-logo" href="index.html" {% if permalink == "index.html" %}aria-current="page"{% endif %}>
      <img src="img/cat-logo.png" alt="Логотип кота Cat Energy" width="34" height="38">
    </a>
    <a class="header__cat-energy-logo" href="index.html" {% if permalink == "index.html" %}aria-current="page"{% endif %}>
      <img src="img/cat-energy-logo.svg" alt="Логотип надписи Cat Energy" width="101" height="18">
    </a>
  </div>
  <nav class="header__main-navigation main-navigation">
      <button class="main-navigation__toggle" type="button" hidden>
        <span class="visually-hidden">Открыть меню</span>
      </button>
      <ul class="main-navigation__list">
        {% for page in pages %}
          <li class="main-navigation__item">
            <a
              class="main-navigation__link"
              href="{{ page.path }}"
              {% if permalink == page.path %}
                aria-current="page"
              {% endif %}
            >{{ page.name }}</a>
          </li>
        {% endfor %}
      </ul>
  </nav>
</header>
