<header class="page__header header page__centerer">
  <div class="header__logo">
    <a class="header__cat-logo" href="index.html" {% if permalink=="index.html" %}aria-current="page" {% endif %}>
      <picture>
        <source media="(min-width: 1280px)" srcset="img/identic.svg#cat-energy-logo--desktop">
        <source media="(min-width: 768px)" srcset="img/identic.svg#cat-energy-logo--tablet">
        <img class="header__logo-img" src="img/identic.svg#cat-energy-logo" alt="Логотип Cat Energy">
      </picture>
    </a>
    <a class="header__cat-energy-logo" href="index.html" {% if permalink=="index.html" %}aria-current="page" {% endif
      %}>
      <svg class="header__logo-svg">
        <use href="img/identic.svg#cat-energy"></use>
      </svg>
    </a>
  </div>
  <nav class="header__main-navigation main-navigation main-navigation--open main-navigation--jsnone">
    <button class="main-navigation__toggle" type="button">
      <span class="visually-hidden">Открыть меню</span>
    </button>
    <ul class="main-navigation__list">
      {% for page in pages %}
      <li class="main-navigation__item">
        <a class="main-navigation__link" href="{{ page.path }}" {% if permalink==page.path %} aria-current="page" {%
          endif %}>{{ page.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>
</header>
