{% set pageId = 1 %}
{% set permalink = pages[pageId].path %}

<!DOCTYPE html>
<html class="page" lang="ru">
{% include "./templates/head.twig" %}

<body class="page__body page__body--catalog">
  {% include "./templates/header.twig" %}

  <main class="main-content catalog-page page__centerer">
    <h1 class="catalog-page__title">Каталог продукции</h1>
    <div class="catalog-page__catalog catalog">
      <ul class="catalog__list">
        <li class="catalog__item">
          <div class="catalog__card-product card-product">
            <a class="card-product__link" href="#">
              <picture>
                <source type="image/avif" media="(min-width: 768px)" srcset="
                img/pro-chicken-500g--wide@1x.avif 1x,
                img/pro-chicken-500g--wide@2x.avif 2x">
                <source type="image/avif" srcset="
                img/pro-chicken-500g--mobile@1x.avif 1x,
                img/pro-chicken-500g--mobile@2x.avif 2x">

                <source type="image/webp" media="(min-width: 768px)" srcset="
                img/pro-chicken-500g--wide@1x.webp 1x,
                img/pro-chicken-500g--wide@2x.webp 2x">
                <source type="image/webp" srcset="
                img/pro-chicken-500g--mobile@1x.webp 1x,
                img/pro-chicken-500g--mobile@2x.webp 2x">

                <source media="(min-width: 768px)" srcset="
                img/pro-chicken-500g--wide@1x.png 1x,
                img/pro-chicken-500g--wide@2x.png 2x">
                <img class="card-product__img" src="img/pro-chicken-500g--mobile@1x.png"
                  srcset="img/pro-chicken-500g--mobile@2x.png 2x"
                  alt="Упаковка корма Cat Energy PRO 500 грамм со вкусом курицы">
              </picture>
            </a>
            <h3 class="card-product__title">Cat Energy PRO 500&nbsp;г</h3>
            <dl class="card-product__list">
              <div class="card-product__item">
                <dt class="card-product__key">Масса</dt>
                <dd class="card-product__value">500 г</dd>
              </div>
              <div class="card-product__item">
                <dt class="card-product__key">Вкус</dt>
                <dd class="card-product__value">Курица</dd>
              </div>
              <div class="card-product__item">
                <dt class="card-product__key">Цена</dt>
                <dd class="card-product__value">700 Р.</dd>
              </div>
            </dl>
            <a class="card-product__order-button button" href="#">Заказать</a>
          </div>
        </li>
        <li class="catalog__item">
          <div class="catalog__card-product card-product">
            <a class="card-product__link" href="#">
              <picture>
                <source type="image/avif" media="(min-width: 768px)" srcset="
                img/pro-chicken-1000g--wide@1x.avif 1x,
                img/pro-chicken-1000g--wide@2x.avif 2x">
                <source type="image/avif" srcset="
                img/pro-chicken-1000g--mobile@1x.avif 1x,
                img/pro-chicken-1000g--mobile@2x.avif 2x">

                <source type="image/webp" media="(min-width: 768px)" srcset="
                img/pro-chicken-1000g--wide@1x.webp 1x,
                img/pro-chicken-1000g--wide@2x.webp 2x">
                <source type="image/webp" srcset="
                img/pro-chicken-1000g--mobile@1x.webp 1x,
                img/pro-chicken-1000g--mobile@2x.webp 2x">

                <source media="(min-width: 768px)" srcset="
                img/pro-chicken-1000g--wide@1x.png 1x,
                img/pro-chicken-1000g--wide@2x.png 2x">
                <img class="card-product__img" src="img/pro-chicken-1000g--mobile@1x.png"
                  srcset="img/pro-chicken-1000g--mobile@2x.png 2x"
                  alt="Упаковка корма Cat Energy PRO 1000 грамм со вкусом курицы">
              </picture>
            </a>
            <h3 class="card-product__title">Cat Energy PRO 1000&nbsp;г</h3>
            <dl class="card-product__list">
              <div class="card-product__item">
                <dt class="card-product__key">Масса</dt>
                <dd class="card-product__value">1000 г</dd>
              </div>
              <div class="card-product__item">
                <dt class="card-product__key">Вкус</dt>
                <dd class="card-product__value">Курица</dd>
              </div>
              <div class="card-product__item">
                <dt class="card-product__key">Цена</dt>
                <dd class="card-product__value">1000 Р.</dd>
              </div>
            </dl>
            <a class="card-product__order-button button" href="#">Заказать</a>
          </div>
        </li>
        <li class="catalog__item">
          <div class="catalog__card-product card-product">
            <a class="card-product__link" href="#">
              <picture>
                <source type="image/avif" media="(min-width: 768px)" srcset="
                img/pro-fish-500g--wide@1x.avif 1x,
                img/pro-fish-500g--wide@2x.avif 2x">
                <source type="image/avif" srcset="
                img/pro-fish-500g--mobile@1x.avif 1x,
                img/pro-fish-500g--mobile@2x.avif 2x">

                <source type="image/webp" media="(min-width: 768px)" srcset="
                img/pro-fish-500g--wide@1x.webp 1x,
                img/pro-fish-500g--wide@2x.webp 2x">
                <source type="image/webp" srcset="
                img/pro-fish-500g--mobile@1x.webp 1x,
                img/pro-fish-500g--mobile@2x.webp 2x">

                <source media="(min-width: 768px)" srcset="
                img/pro-fish-500g--wide@1x.png 1x,
                img/pro-fish-500g--wide@2x.png 2x">
                <img class="card-product__img" src="img/pro-fish-500g--mobile@1x.png"
                  srcset="img/pro-fish-500g--mobile@2x.png 2x"
                  alt="Упаковка корма Cat Energy PRO 500 грамм со вкусом рыбы">
              </picture>
            </a>
            <h3 class="card-product__title">Cat Energy PRO 500&nbsp;г</h3>
            <dl class="card-product__list">
              <div class="card-product__item">
                <dt class="card-product__key">Масса</dt>
                <dd class="card-product__value">500 г</dd>
              </div>
              <div class="card-product__item">
                <dt class="card-product__key">Вкус</dt>
                <dd class="card-product__value">Рыба</dd>
              </div>
              <div class="card-product__item">
                <dt class="card-product__key">Цена</dt>
                <dd class="card-product__value">700 Р.</dd>
              </div>
            </dl>
            <a class="card-product__order-button button" href="#">Заказать</a>
          </div>
        </li>
        <li class="catalog__item">
          <div class="catalog__card-product card-product">
            <a class="card-product__link" href="#">
              <picture>
                <source type="image/avif" media="(min-width: 768px)" srcset="
                img/pro-fish-1000g--wide@1x.avif 1x,
                img/pro-fish-1000g--wide@2x.avif 2x">
                <source type="image/avif" srcset="
                img/pro-fish-1000g--mobile@1x.avif 1x,
                img/pro-fish-1000g--mobile@2x.avif 2x">

                <source type="image/webp" media="(min-width: 768px)" srcset="
                img/pro-fish-1000g--wide@1x.webp 1x,
                img/pro-fish-1000g--wide@2x.webp 2x">
                <source type="image/webp" srcset="
                img/pro-fish-1000g--mobile@1x.webp 1x,
                img/pro-fish-1000g--mobile@2x.webp 2x">

                <source media="(min-width: 768px)" srcset="
                img/pro-fish-1000g--wide@1x.png 1x,
                img/pro-fish-1000g--wide@2x.png 2x">
                <img class="card-product__img" src="img/pro-fish-1000g--mobile@1x.png"
                  srcset="img/pro-fish-1000g--mobile@2x.png 2x"
                  alt="Упаковка корма Cat Energy PRO 1000 грамм со вкусом рыбы">
              </picture>
            </a>
            <h3 class="card-product__title">Cat Energy PRO 1000&nbsp;г</h3>
            <dl class="card-product__list">
              <div class="card-product__item">
                <dt class="card-product__key">Масса</dt>
                <dd class="card-product__value">500 г</dd>
              </div>
              <div class="card-product__item">
                <dt class="card-product__key">Вкус</dt>
                <dd class="card-product__value">Рыба</dd>
              </div>
              <div class="card-product__item">
                <dt class="card-product__key">Цена</dt>
                <dd class="card-product__value">1000 Р.</dd>
              </div>
            </dl>
            <a class="card-product__order-button button" href="#">Заказать</a>
          </div>
        </li>
        <li class="catalog__item">
          <div class="catalog__card-product card-product">
            <a class="card-product__link" href="#">
              <picture>
                <source type="image/avif" media="(min-width: 768px)" srcset="
                img/slim-buckwheat-500g--wide@1x.avif 1x,
                img/slim-buckwheat-500g--wide@2x.avif 2x">
                <source type="image/avif" srcset="
                img/slim-buckwheat-500g--mobile@1x.avif 1x,
                img/slim-buckwheat-500g--mobile@2x.avif 2x">

                <source type="image/webp" media="(min-width: 768px)" srcset="
                img/slim-buckwheat-500g--wide@1x.webp 1x,
                img/slim-buckwheat-500g--wide@2x.webp 2x">
                <source type="image/webp" srcset="
                img/slim-buckwheat-500g--mobile@1x.webp 1x,
                img/slim-buckwheat-500g--mobile@2x.webp 2x">

                <source media="(min-width: 768px)" srcset="
                img/slim-buckwheat-500g--wide@1x.png 1x,
                img/slim-buckwheat-500g--wide@2x.png 2x">
                <img class="card-product__img" src="img/slim-buckwheat-500g--mobile@1x.png"
                  srcset="img/slim-buckwheat-500g--mobile@2x.png 2x"
                  alt="Упаковка корма Cat Energy PRO 500 грамм со вкусом гречки">
              </picture>
            </a>
            <h3 class="card-product__title">Cat Energy Slim 500&nbsp;г</h3>
            <dl class="card-product__list">
              <div class="card-product__item">
                <dt class="card-product__key">Масса</dt>
                <dd class="card-product__value">500 г</dd>
              </div>
              <div class="card-product__item">
                <dt class="card-product__key">Вкус</dt>
                <dd class="card-product__value">Гречка</dd>
              </div>
              <div class="card-product__item">
                <dt class="card-product__key">Цена</dt>
                <dd class="card-product__value">400 Р.</dd>
              </div>
            </dl>
            <a class="card-product__order-button button" href="#">Заказать</a>
          </div>
        </li>
        <li class="catalog__item">
          <div class="catalog__card-product card-product">
            <a class="card-product__link" href="#">
              <picture>
                <source type="image/avif" media="(min-width: 768px)" srcset="
                img/slim-buckwheat-1000g--wide@1x.avif 1x,
                img/slim-buckwheat-1000g--wide@2x.avif 2x">
                <source type="image/avif" srcset="
                img/slim-buckwheat-1000g--mobile@1x.avif 1x,
                img/slim-buckwheat-1000g--mobile@2x.avif 2x">

                <source type="image/webp" media="(min-width: 768px)" srcset="
                img/slim-buckwheat-1000g--wide@1x.webp 1x,
                img/slim-buckwheat-1000g--wide@2x.webp 2x">
                <source type="image/webp" srcset="
                img/slim-buckwheat-1000g--mobile@1x.webp 1x,
                img/slim-buckwheat-1000g--mobile@2x.webp 2x">

                <source media="(min-width: 768px)" srcset="
                img/slim-buckwheat-1000g--wide@1x.png 1x,
                img/slim-buckwheat-1000g--wide@2x.png 2x">
                <img class="card-product__img" src="img/slim-buckwheat-1000g--mobile@1x.png"
                  srcset="img/slim-buckwheat-1000g--mobile@2x.png 2x"
                  alt="Упаковка корма Cat Energy PRO 500 грамм со вкусом гречки">
              </picture>
            </a>
            <h3 class="card-product__title">Cat Energy Slim 500&nbsp;г</h3>
            <dl class="card-product__list">
              <div class="card-product__item">
                <dt class="card-product__key">Масса</dt>
                <dd class="card-product__value">1000 г</dd>
              </div>
              <div class="card-product__item">
                <dt class="card-product__key">Вкус</dt>
                <dd class="card-product__value">Гречка</dd>
              </div>
              <div class="card-product__item">
                <dt class="card-product__key">Цена</dt>
                <dd class="card-product__value">700 Р.</dd>
              </div>
            </dl>
            <a class="card-product__order-button button" href="#">Заказать</a>
          </div>
        </li>
        <li class="catalog__item">
          <div class="catalog__card-product card-product">
            <a class="card-product__link" href="#">
              <picture>
                <source type="image/avif" media="(min-width: 768px)" srcset="
                img/slim-rice-500g--wide@1x.avif 1x,
                img/slim-rice-500g--wide@2x.avif 2x">
                <source type="image/avif" srcset="
                img/slim-rice-500g--mobile@1x.avif 1x,
                img/slim-rice-500g--mobile@2x.avif 2x">

                <source type="image/webp" media="(min-width: 768px)" srcset="
                img/slim-rice-500g--wide@1x.webp 1x,
                img/slim-rice-500g--wide@2x.webp 2x">
                <source type="image/webp" srcset="
                img/slim-rice-500g--mobile@1x.webp 1x,
                img/slim-rice-500g--mobile@2x.webp 2x">

                <source media="(min-width: 768px)" srcset="
                img/slim-rice-500g--wide@1x.png 1x,
                img/slim-rice-500g--wide@2x.png 2x">
                <img class="card-product__img" src="img/slim-rice-500g--mobile@1x.png"
                  srcset="img/slim-rice-500g--mobile@2x.png 2x"
                  alt="Упаковка корма Cat Energy PRO 500 грамм со вкусом риса">
              </picture>
            </a>
            <h3 class="card-product__title">Cat Energy Slim 500&nbsp;г</h3>
            <dl class="card-product__list">
              <div class="card-product__item">
                <dt class="card-product__key">Масса</dt>
                <dd class="card-product__value">500 г</dd>
              </div>
              <div class="card-product__item">
                <dt class="card-product__key">Вкус</dt>
                <dd class="card-product__value">Рис</dd>
              </div>
              <div class="card-product__item">
                <dt class="card-product__key">Цена</dt>
                <dd class="card-product__value">500 Р.</dd>
              </div>
            </dl>
            <a class="card-product__order-button button" href="#">Заказать</a>
          </div>
        </li>
        <li class="catalog__item">
          <div class="catalog__card-product card-product card-product--show-more">
            <dl class="card-product__list card-product__list--show-more">
              <div class="card-product__item card-product__item--show-more">
                <dt class="card-product__key card-product__key--show-more">Показать еще 100500 товаров</dt>
                <dd class="card-product__value card-product__value--show-more">На самом деле вкусов гораздо больше!</dd>
              </div>
            </dl>
            <a class="card-product__order-button card-product__order-button--show-more-button button" href="#">Показать
              все</a>
          </div>
        </li>
      </ul>
    </div>
    <section class="catalog-page__extra-product extra-product">
      <h2 class="extra-product__title title-line">Дополнительные товары</h2>
      <div class="extra-product__product-more product-more">
        <ul class="product-more__list">
          <li class="product-more__item">
            <h3 class="product-more__title">Сахарозаменитель</h3>
            <div class="product-more__wrapper">
              <span class="product-more__description">1 упаковка (100 г)</span>
              <span class="product-more__description">200 Р.</span>
            </div>
            <a class="product-more__button button" href="#">Заказать</a>
          </li>
          <li class="product-more__item">
            <h3 class="product-more__title">Питьевая вода</h3>
            <div class="product-more__wrapper">
              <span class="product-more__description">5 литров</span>
              <span class="product-more__description">50 Р.</span>
            </div>
            <a class="product-more__button button" href="#">Заказать</a>
          </li>
          <li class="product-more__item">
            <h3 class="product-more__title">Молоко</h3>
            <div class="product-more__wrapper">
              <span class="product-more__description">1 литр</span>
              <span class="product-more__description">100 Р.</span>
            </div>
            <a class="product-more__button button" href="#">Заказать</a>
          </li>
          <li class="product-more__item">
            <h3 class="product-more__title">Витамины</h3>
            <div class="product-more__wrapper">
              <span class="product-more__description">1 упаковка (30 г)</span>
              <span class="product-more__description">300 Р.</span>
            </div>
            <a class="product-more__button button" href="#">Заказать</a>
          </li>
        </ul>
        <div class="product-more__gift gift">
          <p class="gift__description">Закажите все <br> и получите чехол для кота в подарок!</p>
        </div>
      </div>
    </section>
  </main>
  {% include "./templates/aside.twig" %}

  {% include "./templates/footer.twig" %}
</body>

</html>
